
body{overflow-x: hidden;
  background-color: #F5F8FF
(245,248,255);  

}






/*header items number:1.0 all classes sector*/

.first{
     display: flex;
   justify-content: space-between;
align-self: center;
   margin-top: 20px;
   margin-right: 50px;
   margin-left:50px ;
   padding-right: 20px;


}
 
.first-list {

   list-style: none;
display: flex;  
  
gap: 20px;




 
}
/* header items number :2.0 all classes sector*/
.second-para{
   display: flex;
   margin-left: 100px;
  align-content: center;
  margin-left: 200px;
  margin-right: 200px
  
  ;
   

}
.second-photo{
   width: 250px;

}

.box-first-li{
   list-style: none;
   display: flex;
   gap: 20px;
   width: 100%;
  
}
.box-second-li{
   list-style: none;
   display: flex;
  
}










/* foter section*/
.footer-list{
   list-style: none;
   color: darkgray;
}

/* css only for logo */
.only-logo{
   max-width: 100px;
   
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.badge{
    position: absolute;
          top:0px;
          right: 0;
          transition: 2s ease;
          transform: rotate(infinity);
           max-width: 100px;
           min-width: 10px;
           z-index: 1;
}
.btn{

   width: 150px;
   height: 20px;
  
   background-color:coral;
   border: none;
   font-size: xx-small;


  
}
 /*resolve css */
.sopping-cart{
   display: flex;

}
.cart-logo{
   width: 20px;
}
.h1-item-no-2-0{
   color: black;
}

.fa{
  color: darkgray;  
}


     .main-div-1{
      text-align: center;
     }


.main-div-1-5{
   display: flex; margin-left: 300px;margin-right: 100px;

}

.fl-i{
   width: 250px;
}
.c-l{
  text-align: center; 
}
.dle{
   color: darkgray;
}

.o-p{
   color: coral;
}
.Indulge{
   color: darkgrey;
}

.div-o-p-h{
 text-align: center;  
}

.div-f-i{
 position: relative;
   
}
.news{
   margin: 50%;
}

.de{
  color: darkgrey; font-size: x-small; 
}
.m-d-1-5{
    display: flex; align-content: center; text-align: center; gap: 20px;
   
}
.d-2-d{
 margin-left: 230px;  
}
.m-r{
  color: coral; 
}

.mred{
   display: flex; gap: 20px;
}

.mredu{
      max-width: 200px; border-radius: 14px; filter: brightness(50%); 
}
.mredul{
   max-width: 430px;  border-radius:14px ; filter: brightness(50%);
}
.mredul-d{
   text-align: center; background-image:  url(news-letter-bg.png); background-size: 100%;
}
/*footer secrion*/

.f-1{
   color: darkgray;
}
.fotoer-last-div{
   display: flex; justify-items: space-around;
}
.f-0{
   display: flex;
   justify-content: space-around;
}

















@media only screen and (min-width:576px) {
body{overflow-x: hidden;
  background-color: #F5F8FF
(245,248,255);  

}






/*header items number:1.0 all classes sector*/

.first{
     display: flex;
   justify-content: space-between;
align-self: center;
   margin-top: 20px;
   margin-right: 50px;
   margin-left:50px ;
   padding-right: 20px;


}
 
.first-list {

   list-style: none;
display: flex;  
  
gap: 20px;




 
}
/* header items number :2.0 all classes sector*/
.second-para{
   display: flex;
   margin-left: 100px;
  align-content: center;
  margin-left: 200px;
  margin-right: 200px
  
  ;
   

}
.second-photo{
   width: 250px;

}

.box-first-li{
   list-style: none;
   display: flex;
   gap: 20px;
   width: 100%;
  
}
.box-second-li{
   list-style: none;
   display: flex;
  
}










/* foter section*/
.footer-list{
   list-style: none;
   color: darkgray;
}

/* css only for logo */
.only-logo{
   max-width: 100px;
   
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.badge{
    position: absolute;
          top:0px;
          right: 0;
          transition: 2s ease;
          transform: rotate(infinity);
           max-width: 100px;
           min-width: 10px;
           z-index: 1;
}
.btn{

   width: 150px;
   height: 20px;
  
   background-color:coral;
   border: none;
   font-size: xx-small;


  
}
 /*resolve css */
.sopping-cart{
   display: flex;

}
.cart-logo{
   width: 20px;
}
.h1-item-no-2-0{
   color: black;
}

.fa{
  color: darkgray;  
}


     .main-div-1{
      text-align: center;
     }


.main-div-1-5{
   display: flex; margin-left: 300px;margin-right: 100px;

}

.fl-i{
   width: 250px;
}
.c-l{
  text-align: center; 
}
.dle{
   color: darkgray;
}

.o-p{
   color: coral;
}
.Indulge{
   color: darkgrey;
}

.div-o-p-h{
 text-align: center;  
}

.div-f-i{
 position: relative;
   
}
.news{
   margin: 50%;
}

.de{
  color: darkgrey; font-size: x-small; 
}
.m-d-1-5{
    display: flex; align-content: center; text-align: center; gap: 20px;
   
}
.d-2-d{
 margin-left: 230px;  
}
.m-r{
  color: coral; 
}

.mred{
   display: flex; gap: 20px;
}

.mredu{
      max-width: 200px; border-radius: 14px; filter: brightness(50%); 
}
.mredul{
   max-width: 430px;  border-radius:14px ; filter: brightness(50%);
}
.mredul-d{
   text-align: center; background-image:  url(news-letter-bg.png); background-size: 100%;
}
/*footer secrion*/

.f-1{
   color: darkgray;
}
.fotoer-last-div{
   display: flex; justify-items: space-around;
}
.f-0{
   display: flex;
   justify-content: space-around;
}


}

   

@media only screen and  (max-width:1280px) {
   body{overflow-x: hidden;
  background-color: #F5F8FF
(245,248,255);  

}






/*header items number:1.0 all classes sector*/

.first{
     display: flex;
   justify-content: space-between;
align-self: center;
   margin-top: 20px;
   margin-right: 50px;
   margin-left:50px ;
   padding-right: 20px;


}
 
.first-list {

   list-style: none;
display: flex;  
  
gap: 20px;




 
}
/* header items number :2.0 all classes sector*/
.second-para{
   display: flex;
   margin-left: 100px;
  align-content: center;
  margin-left: 200px;
  margin-right: 200px
  
  ;
   

}
.second-photo{
   width: 250px;

}

.box-first-li{
   list-style: none;
   display: flex;
   gap: 20px;
   width: 100%;
  
}
.box-second-li{
   list-style: none;
   display: flex;
  
}










/* foter section*/
.footer-list{
   list-style: none;
   color: darkgray;
}

/* css only for logo */
.only-logo{
   max-width: 100px;
   
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.badge{
    position: absolute;
          top:0px;
          right: 0;
          transition: 2s ease;
          transform: rotate(infinity);
           max-width: 100px;
           min-width: 10px;
           z-index: 1;
}
.btn{

   width: 150px;
   height: 20px;
  
   background-color:coral;
   border: none;
   font-size: xx-small;


  
}
 /*resolve css */
.sopping-cart{
   display: flex;

}
.cart-logo{
   width: 20px;
}
.h1-item-no-2-0{
   color: black;
}

.fa{
  color: darkgray;  
}


     .main-div-1{
      text-align: center;
     }


.main-div-1-5{
   display: flex; margin-left: 300px;margin-right: 100px;

}

.fl-i{
   width: 250px;
}
.c-l{
  text-align: center; 
}
.dle{
   color: darkgray;
}

.o-p{
   color: coral;
}
.Indulge{
   color: darkgrey;
}

.div-o-p-h{
 text-align: center;  
}

.div-f-i{
 position: relative;
   
}
.news{
   margin: 50%;
}

.de{
  color: darkgrey; font-size: x-small; 
}
.m-d-1-5{
    display: flex; align-content: center; text-align: center; gap: 20px;
   
}
.d-2-d{
 margin-left: 230px;  
}
.m-r{
  color: coral; 
}

.mred{
   display: flex; gap: 20px;
}

.mredu{
      max-width: 200px; border-radius: 14px; filter: brightness(50%); 
}
.mredul{
   max-width: 430px;  border-radius:14px ; filter: brightness(50%);
}
.mredul-d{
   text-align: center; background-image:  url(news-letter-bg.png); background-size: 100%;
}
/*footer secrion*/

.f-1{
   color: darkgray;
}
.fotoer-last-div{
   display: flex; justify-items: space-around;
}
.f-0{
   display: flex;
   justify-content: space-around;
}

}