/*header items number:1.0 all classes sector*/
.first{
     display: flex;
   justify-content: space-between;
align-self: center;
   margin-top: 20px;
   margin-right: 50px;
   margin-left:50px ;
   padding-right: 20px;

}
 
.first-list{
    list-style: none;
display: flex;  
  
gap: 20px;

 
}
/* header items number :2.0 all classes sector*/
.second-para{
   display: flex;
   margin-left: 100px;
  align-content: center;
  margin-left: 200px;
  margin-right: 200px
  ;
   

}
#second-photo{
   width: 250px;

}

.box-first-li{
   list-style: none;
   display: flex;
   gap: 20px;
   width: 100%;
  
}
.box-second-li{
   list-style: none;
   display: flex;
  
}
/* foter section*/
.footer-list{
   list-style: none;
   color: darkgray;
}

/* css only for logo */
.only-logo{
   max-width: 100px;
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn{
   width: 150px;
   height: 20px;
   color: aliceblue;
   background-color:coral;
   border: none;
   font-size: xx-small;
  
}
:hover{

}